*.iml
.gradle
/app/schemas
/app/release
/local.properties
/.idea/.name
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/misc
.externalNativeBuild
.cxx
local.properties
