<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_median_meeple"
        android:label="@string/app_name"
        android:name="com.waynebloom.scorekeeper.base.MedianMeepleApplication"
        android:roundIcon="@mipmap/ic_median_meeple_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedianMeeple"
        tools:targetApi="31">
        <activity
            android:name="com.waynebloom.scorekeeper.base.MedianMeepleActivity"
            android:exported="true"
            android:theme="@style/Theme.MedianMeeple"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1507290914426110~1202015113"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>
